Master/RAG/RAG lvl3 Supabase Vector + Webhook Lite.json
{
  "name": "RAG lvl3 Supabase Vector + Webhook Lite",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.userMessage }}",
        "options": {
          "systemMessage": "=Eres un agente de soporte al usuario final.\n\nREGLAS:\n1. Siempre consulta Supabase_Vector_Store una sola vez por turno.\n2. Usa SOLO el contexto recuperado del vector store.\n3. Si no hay contexto suficiente, responde: \"No tengo esa información.\"\n4. No vuelvas a consultar la herramienta en el mismo turno.\n5. La memoria solo sirve para mantener el historial, no sustituye la consulta.\n6. Responde en máximo 2 oraciones cortas y directas.\n7. Sin introducciones ni listas.\n8. Si preguntan varias cosas, responde solo la primera y ofrece continuar.\n9. NUNCA copies texto literal del contexto. Solo parafrasea y resume la información relevante.",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "d624a385-cbe4-44f5-b5dc-1d20f702c196",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {
          "maxTokensToSample": 300,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -128,
        208
      ],
      "id": "c7ba6075-9a57-4e53-9104-62bf2286d72c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "AvQjnl8OV0xQhKQs",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        48,
        208
      ],
      "id": "0f7a27b5-12e1-4c7b-ab97-12ed939674b6",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "2xyJatNrKJ86RMLN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Supabase Vector Store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 3,
        "options": {
          "queryName": "match_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "document_id",
                "value": "={{ $('Webhook').item.json.body.document_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        256,
        208
      ],
      "id": "9ea87cbc-be97-41d4-a730-e93dd46946d4",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "UgNUGs34zxZ90xKb",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        256,
        384
      ],
      "id": "9d8f5cf7-6405-40cd-9339-4b0e010ab49a",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "mReahyA47XLpY8x2",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sanitize",
        "text": "={{ $json.output }}",
        "guardrails": {
          "pii": {
            "value": {
              "type": "all"
            }
          },
          "secretKeys": {
            "value": {
              "permissiveness": "balanced"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "cafc6ad2-606e-4637-b0f6-84f9e0f5882c",
      "name": "Guardrails1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Chat-integration-lite",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        0
      ],
      "id": "47188e1b-0d14-42f5-b702-ca3af9717d81",
      "name": "Webhook",
      "webhookId": "b2ba37f8-e4d8-438a-978e-c85844995735"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"userResponse\": {{ JSON.stringify($json.guardrailsInput) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        640,
        0
      ],
      "id": "bd8c9bf1-e904-46c9-a70c-7ae4f6b5cc61",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "sanitize",
        "text": "={{ $json.output }}",
        "guardrails": {
          "pii": {
            "value": {
              "type": "all"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 2,
      "position": [
        -304,
        0
      ],
      "id": "33530dad-7f3b-48a6-82d0-cdd24a7e1333",
      "name": "Guardrails"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Guardrails1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c51ea0d6-38ea-40b1-b365-3f334020ebe9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15037c9ff8f51da0fd771ad68a14324c482b3a94da2040fcd9198898df9312b6"
  },
  "id": "VH9l5CbDS3Gu16m9",
  "tags": []
}